<form  ng-submit="salvarProduto(produto)">
  <div class="form-group">
    <label for="exampleInputEmail1">Código</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Código" ng-model="produto.codigo">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Descrição</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Descrição" ng-model="produto.descricao">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Preço</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Preço" ng-model="produto.preco">
  </div>

  <button type="submit" name="button" class="btn btn-success">Salvar</button>
</form>
